body{
    background-color: rgb(245, 245, 245);
}

.card{
    font-size: 50px;
    background-color: rgb(231, 231, 231);
    display: inline;
}

.black{
    color: black;
    display: inline;
}

.red{
    color: brown;
    display: inline;
}